@keyframes libuttrans {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes buttrans {
    from {
        background-color: hsl(210, 20%, 50%);
    }
    to {
        background-color: hsl(210, 70%, 20%);
    }
}

@keyframes resettrans {
    from {
        background-color: hsl(210, 20%, 50%);
    }
    to {
        background-color: hsl(210, 70%, 10%);
    }
}

body {
    font-family: 'Exo 2', sans-serif;
    color: hsl(210, 20%, 50%);
    text-transform: uppercase;
    background-color: hsl(210, 100%, 97%);
}

.row {
    margin-top: 10px;
}

.buttons {
    margin-top: 2%;
}

#calories {
    max-width: 240px;
    cursor: default;
}

#servings {
    max-width: 145px;
    margin-right: 50px;
}
#gldate,
#new-food {
    max-width: 510px;
    cursor: default;
}

#gldate {
    margin-top: 5%;
    font-size:1.8em;
}

#food-list, #autocomplete {
    max-width: 510px;
}


li {
    border-style: none;
    cursor: default;
    text-align: left;
/*    float: left;*/
    font-size: 13px;
    font-weight: 100;
    margin: 0 auto;
    margin-top: 2%;
/*    margin-bottom: 2%;*/
}

li:hover {
    background-color: hsl(210, 70%, 90%);;
}

#destroy {
    opacity: 0;
    background: url("../assets/delete.png") center;
    background-size: 100%;
    min-height: 22px;
    min-width: 22px;
    border-style: none;
    vertical-align: middle;
}

li:hover > #destroy {
    animation-name: libuttrans;
    animation-duration: 0.8s;
    opacity: 1;
}

.credit {
    font-weight: 100;
    font-style: italic float: left;
}

.addbtn {
    margin-left:-8px;
}

.title {
    font-weight: 200;
    font-size: 8em;
    text-transform: none;
    color: hsl(210, 35%, 50%);
}

.subtitle {
    font-weight: 100;
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: 20px;
}

.btn {
    background-color: hsl(210, 20%, 50%);
}

.btn:hover {
    animation-name: buttrans;
    animation-duration: 0.5s;
    background-color: hsl(210, 70%, 20%);
}

.libut {
    background-color: #ff99cc;
    max-height: 25px;
}

#reset {
    background-color: hsl(210, 20%, 50%);
    margin-top: 2%;
}

#reset:hover {
    animation-name: resettrans;
    animation-duration: 0.5s;
    background-color: hsl(210, 70%, 10%);
}

#autocomplete,
#food-list {
    list-style-type: none;
}

#autocomplete {
    cursor: default;
    position: relative;
    z-index: 1;
    background-color: white;
/*    display: inline-block;*/
/*    margin-left:25%;
    float: left;*/
}

#food-list {
    border-style: solid;
    padding: 0.2%;
    padding-top: 0.2%;
    background-color: white;
}

#food-list li {
    font-size:0.9em;
    margin-bottom: 20px;
}

#gldate {
/*    max-width: 140px;*/
    border: none;
    background: transparent;
    color: hsl(210, 85%, 30%);
}

#autocomplete:empty {
    display: none;
}

#food-list:empty {
    height:50px;
}

@media screen and (max-width: 480px) {
    .row {
        margin-top: 0px;
    }
    .title {
        font-size: 4em;
    }
    #calories,
    #servings,
    #gldate,
    #new-food {
        max-width: 185px;
    }
    #add-food {
        margin-bottom: -15px;
    }
    #food-list {
        max-width: 90%;
        padding: 0;
    }
    .subtitle {
        font-weight: 100;
        font-style: italic;
        font-size: 1em;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}
