body {
font-family: 'Exo 2', sans-serif;
background: #ffcccc url("../assets/bg.png") no-repeat center;
}

.row {
  margin-top: 12px;
}

.buttons {
  margin-top: 2%;
}


#new-food {
  max-width: 60%;
}

.gldate {
  margin-top: 10%;
}

#calories,  #servings, #gldate {
  max-width: 20%;

}

li {
border-style: none;
text-align: left;
font-size: 13px;
font-weight:100;
margin: 0 auto;
margin-top: 2%;
}

li:hover {
background-color:#e5f2ff;
}

.credit {
  font-weight: 100;
  font-style: italic
  float: left;
}

.title {
  font-weight: 400;
  font-size: 6em;
  color: black;
}

.subtitle {
  font-weight: 100;
  font-style: italic;
  font-size: .5em;
}

.btn {
  background-color: #6699ff;
}

.btn:hover {
   background-color: #1a66ff;
}

.libut {
  background-color: #ff99cc;
  max-height: 25px;
}

.libut:hover {
  background-color: #ff1a8c;
}

#autocomplete, #food-list {
list-style-type: none;
}

#autocomplete {
  cursor: pointer;
  position: fixed;

}



#food-list {
  border-style: solid;
  padding:2%;
  padding-top: 0;
  background-color:white;
}

#autocomplete:empty {
display:none;
}

